{%- if depth %}
    {% set width = 12 - depth %}
{% else %}
    {% set depth = 0 %}
    {% set width = 12 %}
{% endif -%}
{%- if not comment %}
    {% set comment = item %}
{% endif -%}
{%- if comment.parent.kind == 'page' %}
{% set parent_url = url_for('page', title=comment.parent.title.lower()) %}
{% else -%}
{% set parent_url = url_for('item', id=comment.parent_id) %}
{% endif -%}
{%- if current_user.is_authenticated() and comment.user_id == current_user.id%}    
    {% set owner = 'true' %}
{% endif -%}
<div class="item comment {% if not item_page %}col-md-{{width}} col-lg-{{width}} col-sm-{{width}} col-xs-{{width}} {% if depth %}col-lg-offset-{{depth}} col-md-offset-{{depth}} col-sm-offset-{{depth}}{% endif %}{% endif %}" id="item-{{comment.id}}" data-id="{{comment.id}}" data-user="{{comment.user_id}}">
    <div class="row comment-info">
        {%- include "_vote.html" -%}
        By {% cache 60*60*5, 'user', comment.user.name %}<a href="{{url_for('user', name=comment.user.name)}}" data-pjax>{{comment.user.name}}</a>{% endcache %}
        {%- if item_page %}
        <small class="text-muted"> (<a href="{{parent_url}}" data-pjax>parent</a>)</small>
        {%- else %}
         <a href="{{url_for('item', id=comment.id)}}" data-pjax>{{pretty_date(comment.timestamp)}}</a>
        {%- endif -%}
        {%- if owner and not edit %}
            | <a href="{{url_for('item_edit', id=comment.id)}}" data-pjax>Edit</a>
        {% endif -%}
    </div>
    <div class="row comment-text">
        {%- cache 60*5, 'item_text', comment.__str__(), comment.text -%}
        {{comment.text|safe|urlize}}  
        {%- endcache -%}
        {%- if current_user.is_authenticated() and not edit and not filters%}
        {%- if not item_page and depth < 8 %} 
        <small class="reply text-muted"><a href="{{url_for('item_comment', id=comment.id)}}">reply</a></small>
        {%- endif -%}
        {%- endif -%}
    </div>
</div>