    
    <script>
      {% if current_user.id %}
        var currentUser = {{current_user.id}};
      {% else %}
        var currentUser = false;
      {% endif %}
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/require.min.js')}}"></script>
    <script>
      requirejs.config({
        //set baseUrl here so I can use template
        baseUrl: "{{ url_for('static', filename='js/')}}"
      });
      require(["{{ url_for('static', filename='js/config.js')}}"], function (common) {
        require(['app/main']);
      });
    </script>