{%- with messages = get_flashed_messages(with_categories=true) -%}
  {%- if messages -%}
  <div class="row flashes"> 
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    {%- for category, message in messages %}
      {%- cache 60*60*24*7, 'message', message, category -%}
      <div class="alert alert-{{ category }}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message | safe}}
      </div>
      {%- endcache -%}
    {% endfor -%}
    </div>
  </div>
  {%- endif -%}
{%- endwith -%}