{% macro nav_link(endpoint, display, url_args={}) %}
  {% if request.endpoint == endpoint %} 
    {% set cls='active' %}
  {% endif %}
  <li class='{{cls}} pjax-active'><a href="{{url_for(endpoint, **url_args)}}" data-pjax>{{display}}</a>
{% endmacro %}

    <div class="navbar navbar-static-top" role="navigation">
      <div class="">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{url_for('index')}}" data-pjax>Data news</a>
        </div>
        <ul class="nav navbar-nav">
          {{nav_link('index', 'Home')}}
          {{nav_link('items', 'Recent', url_args={'kind':'post'})}}
          {% if current_user.id %}
          {{nav_link('submit', 'Submit')}}
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if current_user.id %}
            <li class="pjax-active"><a href="{{url_for('user', name=current_user.name)}}" data-pjax>{{current_user.name}}</a></li>
            <li class=""><a href="{{url_for('security.logout')}}">Logout</a></li>
          {% else %}
            <li class=""><a href="{{url_for('security.login')}}">Login</a></li>
          {% endif %}
          {% if current_user.is_admin %}
            <li class=""><a href="/admin/">Admin</a></li>
          {% endif %}
        </ul>
      </div>
    </div>