{% extends "_base.html" %}

{% block title %}Home {% endblock title %}

{% block content %}
            <div class="row post-list">
            {% for item in items.items %}
                <div class="col-lg-offset-1 col-lg-8 col-md-9 col-sm-offset-1 col-sm-11 col-xs-12">
                {% if item.kind == 'post' %}
                    {% include "_post.html" %}
                {% elif item.kind == 'comment' %}
                    {% include "_comment.html" %}
                {% endif %}
                </div>
            {% endfor %}
            </div>

            {% if items.has_next %}
            <div class="row next">
                {% if "/items" in request.path  %}
                <a href="{{ url_for('items', page = items.next_num, **filters) }}" data-pjax>More</a>
                {% else %}
                <a href="{{ url_for('index', page = items.next_num) }}" data-pjax>More</a>
                {% endif %}
            </div>
            {% endif %}
{% endblock %}
