{% extends "_base.html" %}

{%- block content %}
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    {% set item_page = True %}
    {%- if item.kind == 'post' %}
    {% include "_post.html" %}
    {% elif item.kind == 'page' %}
    {% include "_page.html" %}
    {% elif item.kind == 'comment' %}
    {% include "_comment.html" %}
    {% endif -%}
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    {%- if current_user.id %}
    {% include "_comment_form.html" %}
    {% else %}
    <div class="panel panel-default">
        <div class="panel-body">
            <p><a class="alert-link" href="{{url_for("security.login")}}">Login</a> or <a class="alert-link" href="{{url_for("security.register")}}">register</a> to comment.</p>
        </div>
    </div>
    {% endif -%}
    </div>
</div>
{%- set item_page = False -%}
{%- if not edit %}
{%- for comment in item.children|sort(attribute='comment_score',reverse=True) recursive-%}   
    {{comment.comment_score}}
    {% set depth = loop.depth0 %}
    {%- if depth > 8 %}
    {% set depth = 8 %}
    {% endif -%}

<div class="row">
  {%- include "_comment.html" %}
  {{ loop(comment.children|sort(attribute='comment_score',reverse=True)) }}
</div>
{%- endfor %}
{% endif -%}
{% endblock -%}
