{% extends "_base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{%- block content %}
        <div class="row">
          <h1>Submit Post</h1><br/>
        </div>
        <div class="row">
            <form class="form form-horizontal" method="post" action="{{request.url}}" data-pjax>
              {{ form.hidden_tag() }}
              {{ wtf.form_errors(form, "only") }}

              {{ wtf.horizontal_field(form.url, autofocus=autofocus) }}
              {{ wtf.horizontal_field(form.title) }}
              {{ wtf.horizontal_field(form.text) }}
              {% if current_user.is_super %}
              {{ wtf.horizontal_field(form.kind) }}
              {% endif %}


              <div class="form-group">
                <div class="col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10">
                  <button name="action_save" type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </form>
        </div>
{% endblock -%}
