BeautifulSoup==3.2.1
Flask==0.10.1
Flask-Admin==1.0.6
Flask-Assets==0.8
Flask-DebugToolbar==0.8.0
Flask-Login==0.2.7
Flask-Mail==0.9.0
Flask-Principal==0.4.0
Flask-Restless==0.12.0
Flask-SQLAlchemy==1.0
Flask-Script==0.6.2
Flask-Security==1.6.9
Flask-WTF==0.9.1
Flask-WhooshAlchemy==0.55a