{% extends "_base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block title %}Change Password {% endblock title %}

{% block content %}
<h1>Change Password</h1>
<br/>
<form class="form form-horizontal" action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
  {{ wtf.horizontal_field(change_password_form.password, autofocus="autofocus") }}
  {{ wtf.horizontal_field(change_password_form.new_password) }}
  {{ wtf.horizontal_field(change_password_form.new_password_confirm) }}

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10">
        <input id="submit" class="btn btn-primary" name="submit" type="submit" value="Change Password">
    </div>
  </div>
</form>
{% endblock content %}
