{% extends "_base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block title %}Forgot Password {% endblock title %}

{% block content %}
<h1>Send password reset instructions</h1>
<br/>
<form class="form form-horizontal" action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
  {{ forgot_password_form.hidden_tag() }}
  {{ wtf.horizontal_field(forgot_password_form.email, autofocus="autofocus") }}

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10">
        <input id="submit" class="btn btn-primary" name="submit" type="submit" value="Recover Password">
    </div>
  </div>
</form>
{% endblock content %}