{% extends "structure/_base.html" %}
{% import "macros/_wtf.html" as wtf %}

{% block title %}Register {% endblock title %}

{% block content %}
<h1>Register <small>| <a href="{{ url_for_security('login') }}" data-pjax>Login</a></small></h1>
<br/>
<form class="form form-horizontal" action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
  {{ register_user_form.hidden_tag() }}

  {{ wtf.regular_field(register_user_form.name, autofocus="autofocus") }}
  {{ wtf.regular_field(register_user_form.email, description="Will be kept very private") }}
  {{ wtf.regular_field(register_user_form.password) }}
  {% if register_user_form.password_confirm %}
    {{ wtf.regular_field(register_user_form.password_confirm) }}
  {% endif %}
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10">
        <input id="submit" class="btn btn-primary" name="submit" type="submit" value="Register">
    </div>
  </div>
</form>
{% endblock content %}