
{% extends "_base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block title %}Reset password {% endblock title %}

{% block content %}
<h1>Reset password</h1>
<br/>
<form class="form form-horizontal" action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST" name="reset_password_form">
  {{ reset_password_form.hidden_tag() }}
  {{ wtf.horizontal_field(reset_password_form.password, autofocus="autofocus") }}
  {{ wtf.horizontal_field(reset_password_form.password_confirm) }}

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10">
        <input id="submit" class="btn btn-primary" name="submit" type="submit" value="Set Password">
    </div>
  </div>
</form>
{% endblock content %}