{% import "macros/_wtf.html" as wtf %}
{%- if edit -%}
{% set form_url = url_for('frontend.item_edit', id=item.id) %}
{%- elif item.kind == 'page' -%}
{% set form_url = url_for('frontend.page', title=item.title.lower().replace(' ', '_')) %}
{% else %}
{% set form_url = url_for('frontend.item', id=item.id) %}
{%- endif -%}
{% cache 3600, [form, form_url, item_page, edit] %}
<form class="form form-horizontal comment-form {% if not item_page or edit %}comment-inline{% endif %}"method="post" action="{{form_url}}" data-pjax>
  {{ form.hidden_tag() }}
  
  {%- if not item_page %}
  {{ wtf.comment_field(form.text, autofocus=autofocus) }}
  {% else %}
  {{ wtf.comment_field(form.text) }}
  {% endif -%}
  {{ wtf.wtf_field(form.kind) }}
  {{ wtf.wtf_field(form.parent_id, value=item.id) }}
  {%- if edit %}
  {{ wtf.wtf_field(form.edit, value=True) }}
  {% endif -%}
  <div class="form-group submit">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <button type="submit" data-loading-text="Submitting..." class="btn btn-default btn-xs">Submit</button>
    </div>
  </div>
</form>
{% endcache %}