<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Welcome to DataNews!</h3>
    </div>
    <div class="panel-body">
        <p class="lead"><strong>DataNews.co</strong> is a place to discuss the latest news in data visualization, open data resources, and other interesting things.</p>
        <p class="lead">Register now to start contributing and discussing.</p>
        <p><a href="{{url_for('security.register')}}" class="btn btn-sm btn-primary" data-pjax>Register Now</a></p>
    </div>
</div>