{% extends "structure/_base.html" %}

{%- block content %}
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    {% set item_page = True %}
    {%- if item.kind == 'post' %}
    {% include "item/_post.html" %}
    {% elif item.kind == 'page' %}
    {% include "item/_page.html" %}
    {% elif item.kind == 'comment' %}
    {% include "item/_comment.html" %}
    {% endif -%}
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    {%- if current_user.is_authenticated() %}
    {% include "item/_comment_form.html" %}
    {% else %}
    <div class="panel panel-default">
        <div class="panel-body">
            <p><a class="alert-link" href="{{url_for("security.login")}}">Login</a> or <a class="alert-link" href="{{url_for("security.register")}}">register</a> to comment.</p>
        </div>
    </div>
    {% endif -%}
    </div>
</div>
{%- set item_page = False -%}
{%- if not edit %}
{%- for comment, depth in item.get_children() -%}
    {% set depth = depth - 1 %}
    {%- if depth > 8 %}
    {% set depth = 8 %}
    {% endif -%}
<div class="row">
  {%- include "item/_comment.html" %}
</div>
{%- endfor %}
{% endif -%}
{% endblock -%}
