{% extends "structure/_base.html" %}
{% import "macros/_wtf.html" as wtf %}

{% block content %}
        <div class="row">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">User: <b>{{user.name}}</b>
                  <a class="pull-right" href="{{url_for('frontend.items', user_id=user.id, kind='comment')}}" data-pjax>Comments</a>
                  <span class="pull-right">&nbsp;|&nbsp;</span>
                  <a class="pull-right" href="{{url_for('frontend.items', user_id=user.id, kind='post')}}" data-pjax>Posts</a>
                </h3>
              </div>
              <div class="panel-body">
                {%- if form %}
                <form class="form form-inline row" method="post" action="{{request.url}}">
                  <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="col-md-10 col-lg-10 col-sm-8">
                    {{ form.hidden_tag() }}

                    {{ wtf.wtf_addon(form.name, value=user.name) }}
                    {{ wtf.wtf_addon(form.email, placeholder='Email Address', value=user.email) }}

                    {%- if user.twitter_handle %}
                    {{ wtf.wtf_addon(form.twitter, value=user.twitter_handle, input_addon='@') }}
                    {% else -%}
                    {{ wtf.wtf_addon(form.twitter, placeholder='Twitter Username', input_addon='@') }}
                    {% endif -%}
                    </div>
                    <div class="form-actions col-md-2 col-lg-2 col-sm-4 user-buttons">
                       <button name="action_save" type="submit" class="btn btn-primary">Submit Changes</button>
                       <a class="btn btn-default" href="{{ url_for_security('change_password') }}" data-pjax>Change Password</a>
                    </div>
                  </div>
                </form>
                  <div class="row">
                    <p class="col-md-12 col-lg-12">Login Count: {{user.login_count}}</p>
                  </div>
                {% endif -%}
                  <div class="row">
                    <p class="col-md-12 col-lg-12">Created: {{user.created_at|time_ago}}</p>
                    <p class="col-md-12 col-lg-12">Karma: {{user.karma|length}}</p>
                    <p class="col-md-12 col-lg-12">Votes: {{user.votes|length}}</p>
                  </div>
              </div>
            </div>
        </div>
{%- endblock -%}
