{% extends "bootstrap_base.html" %}

{% block title %}PersonalAPI{% endblock title %}

{% block body_content %}

  {% block nav %}
    {% include "_nav.html" %}
  {% endblock %}

  {% block container %}
    <div class="container">  
    {% block messages %}
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          <div class="row flashes"> 
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
              </div>
            {% endfor %}
          </div>
          {% endif %}
        {% endwith %}
    {% endblock %}
    {% block content %}
        <div class="jumbotron">
            <h1>Hello world!</h1>
            <p></p>
        </div>
    {% endblock %}

      <hr>

    {% block footer %}
      <footer>
      <p>&copy; Hand 2013</p>
      </footer>
    {% endblock %}

    </div> <!-- /container -->
  {% endblock %}
{% endblock %}
