{% extends "_base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block title %}{{item.title}} | Data News{% endblock title %}

{% block content %}
        <div class="container">

            {% if item.kind == 'post' %}
            <div class="row">
                <i class="icon-thumbs-up-alt"></i><h1>{{item.title}} <small class="text-muted">({{get_domain(item.url)}})</small></h1>
            </div>
            {% endif %}
            {% if item.text %}
            <p>{{item.text}}<p>
            {% endif %}
            <form class="form form-horizontal" method="post" action="">
              {{ form.hidden_tag() }}
              {{ wtf.form_errors(form, "only") }}

              {{ wtf.horizontal_field(form.text) }}
              {{ wtf.horizontal_field(form.kind) }}

              <div class="form-actions">
                 <button name="action_save" type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>

            {% for comment in item.get_children()%}
              <p>{{comment[0].text}}, depth = {{comment[1]}} | <a href={{url_for('item', id=comment[0].id)}}>link</a></p>
            {% endfor %}
        </div>
{% endblock %}
