{% extends "_base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block title %}Submit | Data News{% endblock title %}

{% block content %}
        <div class="container">
            <form class="form form-horizontal" method="post">
              {{ form.hidden_tag() }}
              {{ wtf.form_errors(form, "only") }}

              {{ wtf.horizontal_field(form.url) }}
              {{ wtf.horizontal_field(form.title) }}

              <div class="form-actions">
                 <button name="action_save" type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
        </div>
{% endblock %}
